@page "/"

<h1>Hello, Anthony!</h1>

Welcome to your Blazor new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<!-- counter component - imports the /Pages/Counter.razor page - recognized by it name minus the .razor -->
<!-- <Counter /> -->
<Counter IncrementAmount="5" DecrementAmount="-3" />
